
* {
  text-align: center;
}

html, body {
  background: grey;
  height: 100%;
}

#body {
  background: grey;
  padding-bottom: 50px;
  min-height: 80%;
}

header {
  padding-top: 15px;
  background: black;
  height: 75px;
}


.right {
  text-align: right;
}

.plain-list {
  list-style-type: none;
}
.plain-list li {
  display: inline;
  padding: 5px;
}

hr {
  width: 80%;
  border: dashed black 1px;
}

footer {
  padding: 35px 15px;
  background: dimgrey;
}
