* {
  /*color: red;*/
  text-align: center;
}

body {
  background-color: grey;

}

header {
  background-color: black;
}


.right {
  text-align: right;
}

hr {
  width: 80%;
}

footer {
  padding: 15px;
  background-color: dimgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
}
